@charset "utf-8";
/**
 * 共通スタイル
 *==========================*/
li {
	list-style-type: none;
}

#content {
	margin-bottom: 35px;
}

#permalink {
	width: 540px;
}

.back {
	float: left;
}

.next {
	float: right;
}

.cf:after {
	display: block;
	content: "";
	clear: both;
}